page-adventure {
    padding: 0px;
    .adventure-header::after {
        content: '';
        display: none;
    }

    .adventure-header {
        .adventure-navbar {
            height: 90px;
            padding-left: 30px;
            text-align: botttom;
            display: flex;
            align-items: flex-end;
        }
        .adventure-navbar .toolbar-background-md {
            background: none;
            border: none;
        }
        .adventure-navbar button {
            color: white;
        }
    }



    .contentAdventure {
        width: 100%;
        height: 100%;
        background-image: url('../../assets/imgs/bkg-adventure.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;

        .scroll-content {
            padding: 50px !important;
        }
    }

    .contentAdventure__separator{
        background-color: white;
        height: 2px;
        width: 134px;
        margin: 20px 0 50px 0;
    }
    .contentAdventure__title {
            font-size: 3.4rem;
    }

    .contentAdventure__description {
        line-height: 1.5;
    }


    .contentAdventure__button {
        border-width: 1px;
        border-style: solid;
        border-color: white;
        color: white;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        width: 100%;
        height: 58px;
        background: none;

        .button-effect {
            display: none;
        }
        .button-outline-md:hover:not(.disable-hover) {
            background-color: rgba(158, 158, 158, 0) !important;
        }
    }


    .contentAdventure__buttonImg{
        display: inline-block;
        min-width: 40px;
        min-height: 16px;
        background: none; 
        contain: strict;
        margin-left: 60px;
    }



}