<!--
  Generated template for the OeuvresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>SELECTIONNE <br>TON NIVEAU</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="contentPage">
<!--
  {{ infos[params.aile].salles[params.salle].name }}
  <ion-list>
    <button ion-button full *ngFor="let oeuvre of infos[params.aile].salles[params.salle].oeuvres; let i = index;" (click)="showAlert({ 'index': i })">
      {{ oeuvre.name }}
    </button>
  </ion-list>
-->
  <ion-slides pager>

    <ion-slide *ngFor="let oeuvre of infos[params.aile].salles[params.salle].oeuvres; let i = index;">
      <svg class="first" *ngIf="i==0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 359 252">
          <title>Start screen v2</title>
          <g id="Calque_2" data-name="Calque 2">
              <g id="Calque_1-2" data-name="Calque 1">
                  <g id="Tableau_tracé" data-name="Tableau + tracé">
                      <ellipse class="cls-1" cx="61" cy="170" rx="61" ry="8" />
                      <g id="Canvas">
                          <g id="canvas_1_" data-name="canvas (1)">
                              <g id="Vector">
                                  <path id="path0_fill" data-name="path0 fill" class="cls-2" d="M111.82,12.76H64.18V3.19a3.18,3.18,0,1,0-6.35,0v9.57H10.18A3.18,3.18,0,0,0,7,15.95V127.58a3.18,3.18,0,0,0,3.18,3.19H25.86l-11.63,35a3.18,3.18,0,1,0,6,2l8.12-24.46a3.06,3.06,0,0,0,.86.17h63l8.06,24.29a3.18,3.18,0,1,0,6-2l-11.63-35h17.12a3.18,3.18,0,0,0,3.18-3.19V15.95A3.18,3.18,0,0,0,111.82,12.76Zm-79.27,118H57.82v6.38H30.44Zm57.57,6.38h-26v-6.38H88Z" />
                              </g>
                              <g id="Vector-2" data-name="Vector">
                                  <path id="path1_fill" data-name="path1 fill" class="cls-3" d="M108.64,19.14H13.35V124.39h95.29Z" />
                              </g>
                              <g id="Vector-3" data-name="Vector">
                                  <path id="path2_fill" data-name="path2 fill" class="cls-2" d="M41,51.69c-2.86,1.59-7.65,4.25-8.83,4a1.79,1.79,0,0,1-.25-.63C28.26,41,47,32.69,49.16,31.78a3.19,3.19,0,0,0-2.45-5.89C34.67,30.95,22,42,25.77,56.63a6.71,6.71,0,0,0,3.8,4.81c4,1.71,8.87-1,14.51-4.17,4.65-2.6,10.42-5.83,13.36-4.69.38.15,1.54.6,2.46,3.37.34,1-2.62,5.16-4.21,7.38-5.37,7.49-13.48,18.8-5.11,31.42,2.91,4.38,5.86,6.52,9,6.55h.06c4.43,0,7.26-4.12,9.53-7.43a28.57,28.57,0,0,1,2.35-3.12c.9,1.11,3,4.93,6.25,17.9a3.18,3.18,0,0,0,3.08,2.42,3.14,3.14,0,0,0,.77-.09,3.19,3.19,0,0,0,2.31-3.87C79.37,88.81,76.29,84.84,72.5,84.15s-6.38,2.9-8.57,6.09c-1.12,1.63-3.2,4.67-4.3,4.67h0c-.49,0-1.83-.79-3.77-3.71-5.5-8.28-1.2-15.53,5-24.15,3.47-4.83,6.46-9,5.08-13.13-1.24-3.72-3.32-6.17-6.19-7.29C54,44.4,47.1,48.28,41,51.69Z" />
                              </g>
                          </g>
                      </g>
                      <line class="cls-4" x1="359" y1="231" x2="213" y2="231" />
                      <polyline class="cls-4" points="61 173 26 231 171 231" />
                  </g>
                  <g id="level_start" data-name="level start" (click)="checkOeuvre(i)">
                      <ellipse class="cls-5" cx="171" cy="231" rx="42" ry="18" />
                      <text class="cls-6" transform="matrix(0.85, 0, -0.52, 0.85, 162.17, 237.89)">1</text>
                  </g>
              </g>
          </g>
      </svg>
      <svg class="middle" *ngIf="i!=0 && i!=(infos[params.aile].salles[params.salle].oeuvres.length-1) && !infos[params.aile].salles[params.salle].oeuvres[i].locked" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 42">
          <title>Mid screen v2</title>
          <g id="Calque_2" data-name="Calque 2">
              <g id="Calque_1-2" data-name="Calque 1">
                  <polyline class="cls-1" points="375 21 0 21 0 21" />
                  <g id="Level_mid" data-name="Level mid" (click)="checkOeuvre(i)">
                      <ellipse class="cls-2" cx="186.5" cy="21" rx="42" ry="18" />
                      <text class="cls-3" transform="matrix(0.85, 0, -0.52, 0.85, 177.01, 27.89)">{{ i+1 }}</text>
                  </g>
              </g>
          </g>
      </svg>
      <svg class="end" *ngIf="i==(infos[params.aile].salles[params.salle].oeuvres.length-1) && !infos[params.aile].salles[params.salle].oeuvres[i].locked" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 332.7 225">
          <title>end screen v3</title>
          <g id="Calque_2" data-name="Calque 2">
              <g id="Calque_1-2" data-name="Calque 1">
                  <polyline id="chemin" class="cls-1" points="0 204 291 204 269 147" />
                  <ellipse id="shadow_trophy" data-name="shadow trophy" class="cls-2" cx="267" cy="144" rx="61" ry="8" />
                  <g id="trophy">
                      <path class="cls-3" d="M295.51,106.41H238.2a6,6,0,0,0-6,6v23.48h69.25V112.37A6,6,0,0,0,295.51,106.41Z" />
                      <rect class="cls-4" x="223.11" y="135.85" width="87.49" height="7.15" />
                      <polygon class="cls-5" points="278.71 88.33 274.45 75.05 259.25 75.05 255 88.33 249.23 106.41 284.48 106.41 278.71 88.33" />
                      <path class="cls-6" d="M278.71,88.33a71.38,71.38,0,0,1-11.85,6.11A72.43,72.43,0,0,1,255,88.33L259.25,75h15.2Z" />
                      <path class="cls-6" d="M273.41,68.88H260.32A59.31,59.31,0,0,1,201.07,9.63V4.9H332.7V9.63A59.37,59.37,0,0,1,273.41,68.88ZM210.72,14.36A49.86,49.86,0,0,0,260.3,59.42h13.09A49.86,49.86,0,0,0,323,14.36Z" />
                      <path class="cls-5" d="M222.24,0V25.17a71.24,71.24,0,0,0,44.62,66.1,71.27,71.27,0,0,0,44.62-66.1V0Z" />
                      <path class="cls-7" d="M290.87,37.78a24,24,0,0,1-20.07,23.7,26.34,26.34,0,0,1-4,.31,24,24,0,0,1-23.9-21.68,21.81,21.81,0,0,1-.11-2.36,24,24,0,1,1,48.05,0Z" />
                      <polygon class="cls-8" points="266.86 18.95 272.29 29.98 284.48 31.75 275.67 40.34 277.75 52.44 266.86 46.73 255.96 52.44 258.04 40.34 249.23 31.75 261.39 29.98 266.86 18.95" />
                  </g>
                  <g id="level_end" data-name="level end" (click)="checkOeuvre(i)">
                      <ellipse class="cls-9" cx="186" cy="204" rx="42" ry="18" />
                      <text class="cls-10" transform="matrix(0.85, 0, -0.52, 0.85, 175.17, 210.89)">{{ i+1 }}</text>
                  </g>
              </g>
          </g>
      </svg>
      <svg class="middle-locked" *ngIf="i!=0 && i!=(infos[params.aile].salles[params.salle].oeuvres.length-1) && infos[params.aile].salles[params.salle].oeuvres[i].locked" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 24">
          <title>Mid screen blocked</title>
          <g id="Calque_2" data-name="Calque 2">
              <g id="Calque_1-2" data-name="Calque 1">
                  <path class="cls-1" d="M644,0" transform="translate(0 -45)" />
                  <line class="cls-1" y1="12" x2="375" y2="12" />
                  <g id="Level_mid" data-name="Level mid" (click)="checkOeuvre(i)">
                      <ellipse class="cls-2" cx="186.5" cy="12" rx="28" ry="12" />
                  </g>
              </g>
          </g>
      </svg>
      <svg class="end-locked" *ngIf="i==(infos[params.aile].salles[params.salle].oeuvres.length-1) && infos[params.aile].salles[params.salle].oeuvres[i].locked" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 332.7 216">
          <title>End screen blocked</title>
          <g id="Calque_2" data-name="Calque 2">
              <g id="Calque_1-2" data-name="Calque 1">
                  <polyline class="cls-1" points="0 204 291 204 269 147" />
                  <ellipse class="cls-2" cx="267" cy="144" rx="61" ry="8" />
                  <path class="cls-3" d="M295.51,106.41H238.2a6,6,0,0,0-6,6v23.48h69.25V112.37A6,6,0,0,0,295.51,106.41Z" />
                  <rect class="cls-4" x="223.11" y="135.85" width="87.49" height="7.15" />
                  <polygon class="cls-5" points="278.71 88.33 274.45 75.05 259.25 75.05 255 88.33 249.23 106.41 284.48 106.41 278.71 88.33" />
                  <path class="cls-6" d="M278.71,88.33a71.38,71.38,0,0,1-11.85,6.11A72.43,72.43,0,0,1,255,88.33L259.25,75h15.2Z" />
                  <path class="cls-6" d="M273.41,68.88H260.32A59.31,59.31,0,0,1,201.07,9.63V4.9H332.7V9.63A59.37,59.37,0,0,1,273.41,68.88ZM210.72,14.36A49.86,49.86,0,0,0,260.3,59.42h13.09A49.86,49.86,0,0,0,323,14.36Z" />
                  <path class="cls-5" d="M222.24,0V25.17a71.24,71.24,0,0,0,44.62,66.1,71.27,71.27,0,0,0,44.62-66.1V0Z" />
                  <path class="cls-7" d="M290.87,37.78a24,24,0,0,1-20.07,23.7,26.34,26.34,0,0,1-4,.31,24,24,0,0,1-23.9-21.68,21.81,21.81,0,0,1-.11-2.36,24,24,0,1,1,48.05,0Z" />
                  <polygon class="cls-8" points="266.86 18.95 272.29 29.98 284.48 31.75 275.67 40.34 277.75 52.44 266.86 46.73 255.96 52.44 258.04 40.34 249.23 31.75 261.39 29.98 266.86 18.95" />
                  <g id="Level_mid" data-name="Level mid" (click)="checkOeuvre(i)">
                      <ellipse class="cls-2" cx="185.5" cy="204" rx="28" ry="12" />
                  </g>
              </g>
          </g>
      </svg>
    </ion-slide>

  </ion-slides>
</ion-content>
